@media screen and (min-width:500px) {
        #menu a{
            margin: 30px;
            font-size: 2em;
            
        }
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .package {
            width: 40%;
        }

    }

        h1 {
            text-align: center;
            color: black;
            background: radial-gradient(yellow , red);
            padding: 5px;
        }
        h2 {
            font-size: 20px;
            font-family: serif;
        }

        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            background-image: linear-gradient(to right,blue,brown,green);
            border-radius: 5%;
        }
        .menu a {
            font-size: 20px;
            font-weight: bold;
            margin: 10px;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            border-radius: 5%;
            padding: 5px;
        }

        .container {
            justify-content: center;
            text-align: center;
        }

        .package {
            border-top: 2px solid lightgray;
            margin-top: 30px;
            margin-bottom: 50px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 15px;
            background: #c3ebcf;
            border-radius: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .package img {
            width: 70%;
            height: 200px;
            border-radius: 20px;
        }
        .package img:hover {
            width: 98%;
            height: 300px;
        }

        .package #description {
            font-size: 18px;
            text-align: center;
            font-family: Times;
        }
        .package #prices {
            font-size: 25px;
            font-weight: bold;
            color: white;
            border: 1px black;
            border-radius: 0%;
            padding: 5px;
            background: #ff4df3;
            box-shadow: 5px 5px 15px 5px #ff30fc;
        }
        .package #details {
            font-size: 25px;
            font-family: serif;
            font-weight: bold;
            padding: 10px;
            margin-top: 30px;
            color: white;
            background: #ff9900;
            border: none;
            border-radius: 20%;
           /* box-shadow: 0px 2px 30px 2px #fff700;*/
        }
        .package #details:hover{
            background: green;
            font-size: 28px;
        }
